@{
    ViewData["Title"] = "Thank You For Using The Website!";
}
<h1>@ViewData["Title"]</h1>

<p>To checkout the code or to see all of my other projects, head over to my github with the link given below.</p>

<div style="display: flex; align-items: center;">
    <div>
        <a href="https://github.com/regfisher15?tab=repositories" target="_blank">My GitHub Repositories</a>
    </div>
    <div>
        <img src="~/images/westbrook_gif.gif" alt="NBA Player Pointing" style="width: 500px; height: auto; margin-left: 10px;">
    </div>
</div>
